<!DOCTYPE html>
<html>
    <head>
          <meta charset="utf-8">
          <title></title>
          <meta name="description" content="" />
          <meta name="keywords" content="" />
          <link rel="stylesheet" href="/static/styles/style.css">
          <link rel="stylesheet" href="/static/styles/reset.css">
          <script src="/static/js/jquery-1.9.1.min.js"></script>
          <script src="/static/js/script.js"></script>
    </head>

<body>

<div class="l-wrapper">
        <header class="b-header">
            <div class="logo">доставка грузов и документов, курьерская доставка</div>
            <div class="slogan"><!----></div>
            <div class="contacts">
                <span class="icq">605866302</span>
                <span class="skype">cargo.express77</span><br/>
                <span class="phone">8 (495) 988-91-15, 8 (499) 343-89-38</span> (Москва)
                <span class="phone">8 (812) 642-52-15 </span> (Санкт-Петербург)
            </div>
            <nav class="head-menu">
                <ul class="nav-head">
                    <li class="nav-head__item"><a href="/">ГЛАВНАЯ</a></li>
                    <li class="nav-head__item"><a href="/page/offers">СПЕЦ. ПРЕДЛОЖЕНИЯ</a></li>
                    <li class="nav-head__item"><a href="/page/about">О КОМПАНИИ</a></li>
                    <li class="nav-head__item"><a href="/page/insurance">СТРАХОВАНИЕ ГРУЗОВ</a></li>
                    <li class="nav-head__item"><a href="/order">ЗАКАЗ ОНЛАЙН</a></li>
                    <li class="nav-head__item"><a href="/page/contacts">КОНТАКТЫ</a></li>
                </ul>
                <span class="nav-head__btn"><a href="#">отследить направление</a></span>
            </nav>
        </header>
        <div class="container">
            <div class="sidebar-left">
                <div class="b-news">
                    <h2 class="b-news-heading">Новости Экспресс</h2>
                        {% for n in news %}
                            <div class="b-new">
                                <span class="b-new__date">{{ n.date }}</span>
                                <a class="b-new__title" href='/news/{{ n.id }}'>{{ n.name }}</a>
                            </div>
                        {% endfor %}
                </div>
                <div class="b-payment">
                    <span class="b-payment__title">Мы принимаем</span>
                </div>
                <div class="b-distance">
                    <a class="b-distance__title" href="#">Рассчитать расстояние между городами</a>
                </div>
                <div class="b-feedback-1">
                    <a href="#" class="b-feedback__title">Обратная связь</a>
                </div>
                <div class="b-feedback-2">
                    <a href="#" class="b-feedback__title">Письмо директору</a>
                </div>
                <div class="sidebar__list">
                    <a class="sidebar__link" href="/page/terminology">терминология доставки</a>
                    <a class="sidebar__link" href="/page/tips">полезные советы</a>
                    <a class="sidebar__link" href="/feedback">качество обслуживания</a>
                </div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}

            </div>
        </div>
    
    </div>
<footer class="b-footer">
    <div class="footer__inner">
        <span class="copy">© 2012 cargoexpresstrans.ru</span>
        <nav class="foot-menu">
            <ul class="nav-foot">
                    <li class="nav-foot__item"><a href="#">ГЛАВНАЯ</a></li>
                    <li class="nav-foot__item"><a href="#">СПЕЦ. ПРЕДЛОЖЕНИЯ</a></li>
                    <li class="nav-foot__item"><a href="#">О КОМПАНИИ</a></li>
                    <li class="nav-foot__item"><a href="#">СТРАХОВАНИЕ ГРУЗОВ</a></li>
                    <li class="nav-foot__item"><a href="#">ЗАКАЗ ОНЛАЙН</a></li>
                    <li class="nav-foot__item"><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>
</footer>
    
    
    {% comment %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    var yaParams = {/*Здесь параметры визита*/};
    </script>
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter19733107 = new Ya.Metrika({id:19733107,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,params:window.yaParams||{ }});
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/19733107" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endcomment %}
    </body>
</html>
