<!DOCTYPE html>
<html>
    <head>
          <meta charset="utf-8">
          <title>{% block title %}Грузоперевозки cargoexpresstrans{% endblock %}</title>
          <meta name="description" content="" />
          <meta name="keywords" content="" />
          <link rel="stylesheet" href="/static/styles/style.css">
          <link rel="stylesheet" href="/static/styles/reset.css">
          
          <link href="/static/css/custom-theme/jquery-ui-1.10.2.custom.css" rel="stylesheet">
	<script type="text/javascript" src="https://lcab.sms-uslugi.ru/support/support.js?h=e1390466d048f3c8ae010f0bcc905e55" id="supportScript"></script>
            <script src="/static/js/jquery-1.9.1.js"></script>
            {% block jquery %}
                
                <script src="/static/js/jquery-ui-1.10.2.custom.js"></script>
                
                <script src="/static/js/script.js"></script>
            <script>
        
            $(function() {
                {% if messages %} 
                    $( "#messages_dialog" ).dialog();
                {% endif %}
                 $("#feedback_dialog" ).dialog({ autoOpen: false });
                 $("#feedback_dialog_btn").click(function(){ $( "#feedback_dialog" ).dialog('open');  });
                 $("#director_dialog" ).dialog({ autoOpen: false });
                 $("#director_dialog_btn").click(function(){ $( "#director_dialog" ).dialog('open');  });
                });
            
            </script>
            
            
            {% endblock %}
            
            
            {% block head_script %}
            {% endblock %}
    </head>

<body>

<div id="messages_dialog" style='display: none'>
    <p>
        {% for message in messages %}
            <div class='message-wrapper'>
                <div class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            </div>
        {% endfor %}
    </p>
</div>

<div id="feedback_dialog" title='Обратная связь'  style='display: none'>
    <div class="b-feedback__form">
        <form action="" method="post">
            <table class="table-form">
                <tr>
                    <td width="144">Имя:<span class="required">*</span></td>
                    <td><input id="id_fio" type="text" name="fio" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Город:</td>
                    <td><input id="id_fio" type="text" name="city" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Телефон:</td>
                    <td><input id="id_fio" type="text" name="phone" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Email:<span class="required">*</span></td>
                    <td><input id="id_fio" type="text" name="email" maxlength="75" /></td>
                </tr>
                
                <tr>
                    <td width="144">Сообщение:<span class="required">*</span></td>
                    <td><textarea rows="10" name="comment"></textarea></td>
                </tr>
                
                <tr>
                    <td>

                    </td>
                    <td>
                        <p><input class="feedback__btn" type="submit" value="Отправить"></p>
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </div>
</div>

<div id="director_dialog" title='Письмо директору'  style='display: none'>
    <div class="b-feedback__form">
        <form action="" method="post">
            <table class="table-form">
                <tr>
                    <td width="144">Обращение по заказу № (другая причина):</td>
                    <td><input id="id_fio" type="text" name="reason" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Имя:<span class="required">*</span></td>
                    <td><input id="id_fio" type="text" name="fio" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Город:</td>
                    <td><input id="id_fio" type="text" name="city" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Телефон:</td>
                    <td><input id="id_fio" type="text" name="phone" maxlength="150" /></td>
                </tr>
                
                <tr>
                    <td width="144">Email:<span class="required">*</span></td>
                    <td><input id="id_fio" type="text" name="email" maxlength="75" /></td>
                </tr>
                
                <tr>
                    <td width="144">Сообщение:<span class="required">*</span></td>
                    <td><textarea rows="10" name="comment"></textarea></td>
                </tr>
                
                <tr>
                    <td>

                    </td>
                    <td>
                        <p><input class="feedback__btn" type="submit" value="Отправить"></p>
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </div>
</div>


<div class="l-wrapper">
        <header class="b-header">
	    <a href='/'><div class="logo" style='float: left'>доставка грузов и документов, курьерская доставка</div></a>
	    <div class="slogan" style='float: left'><!----></div>
	    <div class="contacts" style='float: right; text-align: left;'>
                <span class="icq">605866302</span>
                <span class="skype">cargo.express77</span><br/>
                <span class="phone">8 495 988-91-15 </span> многоканальный<br />
                <span class="phone">8 499 343-83-39 </span> по вопросам сотрудничества<br />
		<span class="phone">8 812 642-52-15 </span> Санкт-Петербург
            </div>
		<div style='clear: both'></div>
            <nav class="head-menu">
                <ul class="nav-head">
                    <li class="nav-head__item"><a href="/">ГЛАВНАЯ</a></li>
                    <li class="nav-head__item"><a href="/page/offers">СПЕЦ. ПРЕДЛОЖЕНИЯ</a></li>
                    <li class="nav-head__item"><a href="/page/about">О КОМПАНИИ</a></li>
                    <li class="nav-head__item"><a href="/page/insurance">СТРАХОВАНИЕ ГРУЗОВ</a></li>
                    <li class="nav-head__item"><a href="/order">ЗАКАЗ ОНЛАЙН</a></li>
                    <li class="nav-head__item"><a href="/page/contacts">КОНТАКТЫ</a></li>
                </ul>
                <span class="nav-head__btn"><a href="http://cargoexpresstrans.ru/lk">отследить отправление</a></span>
            </nav>
        </header>
        <div class="container">
            <div class="sidebar-left">
                <div class="b-news">
                    <span class="lk__btn"><a href="/lk">Личный кабинет</a></span>
                    <h2 class="b-news-heading">Новости Экспресс</h2>
                        {% for n in news %}
                            <div class="b-new">
                                <span class="b-new__date">{{ n.date }}</span>
                                <a class="b-new__title" href='/news/{{ n.id }}'>{{ n.name }}</a>
                            </div>
                        {% endfor %}
                </div>
                <div class="b-payment">
                    <span class="b-payment__title">Мы принимаем</span>
                </div>
                <div class="b-distance">
                    <a class="b-distance__title" href="/calc">Рассчитать расстояние между городами</a>
                </div>
                {% block feedback %}
                <div class="b-feedback-1">
                    <a href="#feedback_dialog" id='feedback_dialog_btn' class="b-feedback__title">Обратная связь</a>
                </div>
                <div class="b-feedback-2">
                    <a href="#director_dialog" id='director_dialog_btn' class="b-feedback__title">Письмо директору</a>
                </div>
                {% endblock %}
                <div class="sidebar__list">
                    <a class="sidebar__link" href="/page/terminology">терминология доставки</a>
                    <a class="sidebar__link" href="/page/tips">полезные советы</a>
                    <a class="sidebar__link" href="/feedback">качество обслуживания</a>
                </div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}

            </div>
        </div>
    
    </div>
<footer class="b-footer">
    <div class="footer__inner">
        <span class="copy">© cargoexpresstrans.ru</span>
        <span class="copy"><a href='http://webgenesis.ru' target='blank'>создание сайта</a></span>
        <nav class="foot-menu">
            <ul class="nav-foot">
                    <li class="nav-foot__item"><a href="/">ГЛАВНАЯ</a></li>
                    <li class="nav-foot__item"><a href="/page/offers">СПЕЦ. ПРЕДЛОЖЕНИЯ</a></li>
                    <li class="nav-foot__item"><a href="/page/about">О КОМПАНИИ</a></li>
                    <li class="nav-foot__item"><a href="/page/insurance">СТРАХОВАНИЕ ГРУЗОВ</a></li>
                    <li class="nav-foot__item"><a href="/order">ЗАКАЗ ОНЛАЙН</a></li>
                    <li class="nav-foot__item"><a href="/page/contacts">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>
</footer>

<!-- LiveTex {literal} -->
<script type='text/javascript'>
    var liveTex = true,
    liveTexID = 67235,
    liveTex_object = true;
    (function() {
    var lt = document.createElement('script');
    lt.type ='text/javascript';
    lt.async = true;
    lt.src = '//cs15.livetex.ru/js/client.js';
    var sc = document.getElementsByTagName('script')[0];
    if ( sc ) sc.parentNode.insertBefore(lt, sc);
    else document.documentElement.firstChild.appendChild(lt);
    })();
</script>
<!-- LiveTex {/literal} -->    
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    var yaParams = {/*Здесь параметры визита*/};
    </script>
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter19733107 = new Ya.Metrika({id:19733107,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,params:window.yaParams||{ }});
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/19733107" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    </body>
    
          
</html>
