{% extends 'base.html' %}

{% block content %}
                <div class="b-feedback">
                    <h2 class="feedback-title">Отзыв о качестве обслуживания</h2>
                    <span class="required">* - обязательные для заполнения поля</span>
                    <div class="b-feedback__form">
                        <form action="" method="post">
                            <table class="table-form">
                                <tr>
                                    <td width="144">
                                         ФИО<span class="required">*</span>
                                    </td>
                                    <td>
                                        {{ form.fio }}
                                        {% if form.fio.errors %}<span class="feedback__desc">Обязательное поле</span>{% endif %}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                         Компания<span class="required">*</span>
                                    </td>
                                    <td>
                                        {{ form.company }}
                                        {% if form.company.errors %}<span class="feedback__desc">Обязательное поле</span>{% endif %}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                         Телефон<span class="required">*</span>
                                    </td>
                                    <td>
                                        {{ form.phone }}
                                        {% if form.phone.errors %}<span class="feedback__desc">Обязательное поле</span>{% endif %}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                         E-mail
                                    </td>
                                    <td>
                                        {{ form.email }}
                                        {% if form.email.errors %}<span class="feedback__desc">Обязательное поле</span>{% endif %}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        Отзыв<span class="required">*</span>
                                    </td>
                                    <td>
                                        {{ form.comment }}
                                        {% if form.comment.errors %}<span class="feedback__desc">Обязательное поле</span>{% endif %}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <p><input class="feedback__btn" type="submit" value="Отправить"></p>
                                    </td>
                                </tr>
                           </table>
                           {% csrf_token %}
                        </form>
                    </div>
                </div>

</div><!-- information -->
{% endblock %}


