{% extends 'base.html' %}

{% block head_script %}
{% endblock %}


{% block content %}
                <div class="b-slider">
                    <ul class="b-slider-inner">
                        <li class="b-slider-item b-slider-item1">
                                <span class="b-slider__title">Быстрое оформление заказа на экспресс-доставку почты и других отправителей</span>
                                <p class="b-slider__text">Заполните форму <a href="#" class="link">Экспресс-Заказ</a> и наши операторы свяжутся с вами в кратчайшие сроки, оформят заказ.</p>
                                <p class="b-slider__text">Экспресс-почта, посылки и грузы будут доставлены в указанный срок.</p>
                                <p class="b-slider__text">Срочная доставка по Москве и Петербургу - с нами это реально!</p>
                                
                        </li>
                        <li class="b-slider-item b-slider-item2">
                        <span class="b-slider__title">Мобильные приложения Cargo express</span>
                                <p class="b-slider__text">Уважаемые клиенты!</p>
                                <p class="b-slider__text">Рады предложить вам мобильные приложеня City Express для Iphone и Android.<br/>
                                Мобильное приложение City Express поможет вам оформить заказ и вызвать курьера, отследить отправление, рассчитать стоимость или заказать обратный звонок.
                                </p>
                                <a href="#" class="more">Подробнее</a>
                        </li>
                        <li class="b-slider-item b-slider-item3">
                                <span class="b-slider__title">Москва - Санкт Петребург - Москва - <span class="m-slider__title">один день!</span></span>
                                <p class="b-slider__text">Срочная доствка из Москвы в Санкт-Петербург и обратно всего за один день!</p>
                                <a href="#" class="more">Подробнее</a>
                                <span class="city-1">Санкт-Перербург</span>
                                <span class="city-2">Москва</span>
                        </li>
                    </ul>
                    <div class="b-slider-nav">
                        <a href="#" rel="1" class="b-slider-prev1 b-slider-preview"><!----></a>
                        <a href="#" rel="2" class="b-slider-prev2 b-slider-preview"><!----></a>
                        <a href="#" rel="3" class="b-slider-prev3 b-slider-preview"><!----></a>
                    </div>
                </div>
                <div class="b-info-wrap">
                    <div class="b-info__a">
                        <a href="/rates/1" class="b-info-title">Грузоперевозки по Москве,  Санкт-Петербургу и регионам</a>
                    </div>
                    <div class="b-info__b">
                        <a href="/rates/3" class="b-info-title">Курьерская доставка</a>
                    </div>
                    <div class="b-info__c">
                        <a href="/rates/5" class="b-info-title">Доставка из интернет-магазинов</a>
                    </div>
                </div>
                <div class="b-docs">
                    <a href="/media/uploads/1.docx" class="b-doc">Агентский договор<br/>  для интернет-магазинов</a>
                    <a href="/media/uploads/2.docx" class="b-doc">Договор на <br/>курьерские услуги</a>
                    <a href="/media/uploads/3.docx" class="b-doc">Договор на транспортное <br/>обсуживание</a>
                </div>
                <div class='content-container'>
                <p class="text">Грузоперевозки сегодня – это востребованная услуга, которая позволяет многим компаниям успешно реализовывать свой бизнес и становится залогом его дальнейшего процветания. Поэтому действительно важно, чтобы организация, выполняющая для Вас грузовые перевозки, была надежной и компетентной. Благодаря своему высокому профессионализму и широкому опыту компания «Cargo Express» обеспечивает  для юридических и частных лиц полный комплекс мероприятий по грузоперевозкам в любой уголок нашей страны.</p>
                <p class="text">И если Вы заинтересованы в осуществлении качественных грузоперевозок, испытываете необходимость в надежном партнере, который доставил бы в короткие сроки груз до места его назначения при гарантированно полном обеспечении безопасности и своевременности, то ООО «Cargo Express» готова предложить Вам свои квалифицированные услуги, которыми на сегодняшний день активно пользуется огромное количество современных компаний и организаций с абсолютно разной сферой реализуемой деятельности. </p>
                <p class="text">Все наши клиенты искренне рады сотрудничеству с нами, так как часто нуждаются в ГАЗелях, рефрижераторах и другом автотранспорте для перевозки того или иного груза, и, следовательно, прекрасно понимают, насколько ценно сотрудничество с партнером, который является профессионалом своего дела, а о нашей компании все клиенты отзываются именно так. Мы готовы открыть для Вас новые горизонты и выдающиеся перспективы, воплотив все Ваши бизнес-идеи на высоком уровне оперативности, точности, что позволит Вам уверенно продвигаться вперед и целеустремленно стремиться к лидерству на рынке.Для нас не имеет значения, насколько сложен Ваш заказ, так как наш  опыт действительно велик, поэтому Вы можете в рамках привлекательных условий и приемлимых цен воспользоваться услугами нашей компании.Будучи при этом твердо уверенными, что Вас не только не подведут, но и приложат максимум усилий, чтобы результат сотрудничества с нами превзошел все Ваши ожидания! </p>
                </div>
{% endblock %}
