{% extends 'base.html' %}

{% block header_image %}kn_s.png{% endblock %}

{% block content %}
 <div class="information">
   <div class="foto"><img src="/static/images/pic.jpg" alt="" /></div>
   <div class="left">
     <div class="rates">
       <h2>ТАРИФЫ</h2>
       <ul>
         <li class="tabl1">
           <p class="zag">от</p>
           <p class="sity1"><span>Москва</span></p>
           <p class="sity1"><span>Москва</span></p>
           <p class="sity1"><span>Москва</span></p>
           <p class="sity1"><span>Москва</span></p>
           <p class="sity1"><span>Москва</span></p>
           <p class="sity1"><span>Москва</span></p>
         </li>
         <li class="tabl2">
           <p class="zag">до</p>
           <p class="sity2"><span>Рязань</span></p>
           <p class="sity2"><span>Cвердловск</span></p>
           <p class="sity2"><span>Санкт-Петербург</span></p>
           <p class="sity2"><span>Екатеринбург</span></p>
           <p class="sity2"><span>Балашиха</span></p>
           <p class="sity2"><span>Рязань</span></p>
         </li>
         <li class="tabl3">
           <p class="zag">стоимость</p>
           <p class="sum"><span>1200</span></p>
           <p class="sum"><span>500</span></p>
           <p class="sum"><span>5000</span></p>
           <p class="sum"><span>1800</span></p>
           <p class="sum"><span>2000</span></p>
           <p class="sum"><span>1300</span></p>
         </li>
       </ul>
     </div>
     <div class="regulations">
       <h2>ПРАВИЛА</h2>
       <div class="tet">
       <p>Глиссандо, так или иначе, синхронно заканчивает мнимотакт, таким образом конструктивное состояние всей музыкальной ткани или какой-либо из составляющих ее субструктур (в том числе: временнoй, гармонической, динамической, тембровой, темповой) возникает как следствие их выстраивания на основе определенного ряда (модуса).</p>
       </div>
     </div>
   </div>

   <div class="w100">
     <div class="ordering">
       <h2>ОФОРМЛЕНИЕ ЗАКАЗА</h2>
       <form action="#" method="post">
         <div class="w1">
           <label>Название организации</label>
           <input type="text" class="inp1" />
         </div>
         <div class="w1">
           <label>Контактное лицо</label>
           <input type="text" class="inp1" />
         </div>
         <div class="w1">
           <label>Контактный телефон</label>
           <input type="text" class="inp1" />
         </div>
         <div class="w1">
           <label>Ваш e-mail</label>
           <input type="text" class="inp1" />
         </div>
         <div class="w1">
           <label>Комментарий</label>
           <input type="text" class="inp1" />
         </div>
         <div class="usl">
           <span class="niceCheck"><input type="checkbox" /></span>
           <span class="titl">Я согласен(на) с условиями работы.</span>
         </div>
         <div class="but"><input type="button" value="Отправить заказ" /></div>
       </form>
     </div>
   </div>

 </div>
{% endblock %}