{% extends 'base.html' %}

{% block content %}

    <div class="b-feedback">
        <h2 class="feedback-title">Оформление заказа</h2>
        <span class="required">* - обязательные для заполнения поля</span>
        <div class="b-feedback__form">
            <form action="" method="post">
                <table class="table-form">
                
                    <tr><td><u>1. Отправитель (Sender)</u></td><td></td></tr>
                    {% include "input_tpl.html" with field=form.sender_country %}
                    {% include "input_tpl.html" with field=form.sender_city %}
                    {% include "input_tpl.html" with field=form.sender_postal_code %}
                    {% include "input_tpl.html" with field=form.sender_company %}
                    {% include "input_tpl.html" with field=form.sender_address %}
                    {% include "input_tpl.html" with field=form.sender_phone %}
                    {% include "input_tpl.html" with field=form.sender_name %}
                            
                    <tr><td><u>2. Получатель (Receiver)</u></td><td></td></tr>
                    {% include "input_tpl.html" with field=form.receiver_country %}
                    {% include "input_tpl.html" with field=form.receiver_city %}
                    {% include "input_tpl.html" with field=form.receiver_postal_code %}
                    {% include "input_tpl.html" with field=form.receiver_company %}
                    {% include "input_tpl.html" with field=form.receiver_address %}
                    {% include "input_tpl.html" with field=form.receiver_phone %}
                    {% include "input_tpl.html" with field=form.receiver_name %}
                    
                    <tr><td><u>3. Информация о грузе</u></td><td></td></tr>
                    {% include "input_tpl.html" with field=form.info_pieces %}
                    {% include "input_tpl.html" with field=form.info_weight %}
                    {% include "input_tpl.html" with field=form.info_density %}
                    {% include "input_tpl.html" with field=form.info_dim %}
                    {% include "input_tpl.html" with field=form.info_desc %}
                    {% include "input_tpl.html" with field=form.info_envelope %}
                    {% include "input_tpl.html" with field=form.info_package %}
                    {% include "input_tpl.html" with field=form.info_box %}
                    {% include "input_tpl.html" with field=form.info_bag %}
                    {% include "input_tpl.html" with field=form.info_dang %}

                    <tr><td><u>5. Примечание (Remark)</u></td><td>
                        <textarea rows='8'>{% if form.remark.value %}{{ form.remark.value }}{% endif %}</textarea>
                    </td></tr>
            
                    <tr><td><u>6. Информация об оплате и режим доставки</u></td><td></td></tr>
                    {% include "input_tpl.html" with field=form.delivery_recipient %}
                    {% include "input_tpl.html" with field=form.delivery_sender %}
                    {% include "input_tpl.html" with field=form.delivery_3rd %}
                    {% include "input_tpl.html" with field=form.delivery_acc %}
                    {% include "input_tpl.html" with field=form.delivery_cash %}
                    {% include "input_tpl.html" with field=form.delivery_tariff %}
                    {% include "input_tpl.html" with field=form.delivery_insurance %}
                    {% include "input_tpl.html" with field=form.delivery_deposit %}
                    {% include "input_tpl.html" with field=form.delivery_declared %}
                    {% include "input_tpl.html" with field=form.delivery_total %}
                    {% include "input_tpl.html" with field=form.delivery_econom %}
                    {% include "input_tpl.html" with field=form.delivery_standart %}
                    {% include "input_tpl.html" with field=form.delivery_express %}
                    {% include "input_tpl.html" with field=form.delivery_reserv %}
                    {% include "input_tpl.html" with field=form.delivery_hand %}
                    {% include "input_tpl.html" with field=form.delivery_pickup %}
                    
                    <tr><td>
                        
                        <p {% if form.agree.errors %} style='color: red' {% endif %} > {{ form.agree }} Я согласен(на) с условиями работы.</p>
                    </td></tr>
                        <tr>
                            <td></td>
                            <td><p><input class="feedback__btn" type="submit" value="Отправить"></p></td>
                        </tr>
                    </table>
                {% csrf_token %}
            </form>
                        
        </div>
    </div>
{% endblock %}


