@charset "utf-8";
/* CSS Document */

body {background:#141414; padding:0; margin:0; font-family: Tahoma; color:#FFFFFF;}
* {padding:0; margin:0;}
img {border:0;}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: url('Calibri.eot?#iefix') format('embedded-opentype'),
         url('Calibri.woff') format('woff'),
         url('Calibri.ttf') format('truetype'),
         url('Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main {width:100%; float:left; min-width:1000px; background:url(images/header.jpg) no-repeat center top;}
.well {width:100%; float:left; background:url(images/content.png) no-repeat center bottom;}

.cent {width:990px; margin:0 auto;}
.header {height:487px; float:left; width:100%; position:relative;}

.header_phones{position:absolute; top:100px; right:0px;}

.top {width:993px; height:70px; position:absolute; left:-2px; top:0; background:url(images/header.png) no-repeat;}
.logo {position:absolute; left:19px; top:9px;}
.search {position:absolute; right:17px; top:7px;}
.search .inp_s {width:114px; border:0; background:url(images/inp_s.png) no-repeat; font-size:11px; color:#464646; padding:4px 27px 3px 7px;}
.search .kn_s {position:absolute; right:10px; top:4px;}

.menu {position:absolute; right:12px; top:39px; height:25px;}
.menu ul {list-style:none;}
.menu ul li { font-size:11px; float:left; background:url(images/menu_li.gif) no-repeat left top; padding:1px 7px 0px 7px; text-transform:uppercase; height:24px; position:relative;}
.menu ul li a {color:#FFF; text-decoration:none;}
.menu ul li:first-child {background:none;}
.menu ul li .line {display:none; position:absolute; bottom:0; left:0; width:100%;}
.menu ul li .line .ml {display:block; margin:0 13px; height:6px; background:url(images/ml.gif) no-repeat left top;}
.menu ul li .line .mr {display:block; margin:0 0; height:6px; background:url(images/mr.gif) no-repeat right top;}
.menu ul li.active .line {display:block;}

.cont {width:100%; float:left; padding-bottom:30px; background:url(images/cont.png) repeat-y center top; min-height:600px; margin-top:58px;}
.content {margin-top:-58px; float:left; width:100%;}

.content-information {margin:20px 10px 0 10px;}
.content-information table {font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: black; }
.content-information .table td,th {padding: 5px;}
.content-information .table tr { background-color: white;}
.content-information .table tr.even,th.even{ background-color: silver;}
.content-information ul { margin: 0 0 0 20px;}

.left {margin:2px 0 0 0;}
.left table {font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: black; }
.left td,th {padding: 5px;}
.left .table tr { background-color: white;}
.left .table tr.even { background-color: silver;}
.left ul,ol,p { margin: 0 0 0 30px;}

.ordering li {list-style-type: none; padding: 0 20px 0 20px; margin: 0 3px;}


.bl_l {width:765px; float:left;}
.bl_l p {font-size:15px; color:#FFFFFF; padding:0 20px; margin:16px 0 0 0; text-indent:40px;}
.header_line {height:30px; display:block; padding:18px 20px 0 20px; background:url(images/fn.png) repeat-x;}
.header_line h1 {font-size:18px; color:#FFF; text-shadow: black 1px 1px 1px;}
.header_line h1 img {width: 24px;}
.header_line h1 p {margin-left: 30px; margin-top: -23px}

.bl_r {width:225px; float:right;}
.feedback_form textarea, .feedback_form input {width: 180px;}

.info {width:100%; float:left; background:url(images/info.png) repeat-x left 13px; margin-top:34px;}
.info ul {list-style:none; padding:0 0 0 7px;}
.info ul li {width:178px; height:176px; float:left; padding:0 0 0 14px;}
.info ul li a {width:178px; height:176px; background:#dededd; float:left; text-decoration:none; margin:1px; position:relative;
-moz-border-radius:8px 8px 0 0;
-webkit-border-radius:8px 8px 0 0;
border-radius: 8px 8px 0 0;
behavior: url(js/PIE.htc);}
.info ul li a .foto {margin-top:6px; display:block;}
.info ul li a .foto img {-moz-border-radius:8px 8px 0 0;
-webkit-border-radius:8px 8px 0 0;
border-radius: 8px 8px 0 0;
behavior: url(js/PIE.htc);}
.info ul li a .text {width:167px; height:40px; background:url(images/text.png) no-repeat left top; display:block; font-size:14px; color: #FFF; margin:4px -4px; padding:5px 10px 0 10px; text-align:center; text-shadow: #464646 1px 1px 1px;}

.info ul li a:hover {border:1px solid #5c5b5b; margin:0;
-moz-box-shadow: 0 0 11px #FFFFFF;
-webkit-box-shadow: 0 0 11px #FFFFFF;
box-shadow: 0 0 11px #FFFFFF;}
.info ul li a:hover .text {color:#252525; text-shadow: none; background:url(images/text_hover.png) no-repeat left top;}

.nav {width:100%; float:left; margin:58px 0 0 0;}
.nav ul {list-style:none; padding:0 150px 8px 197px; float:left;}
.nav ul li {float:left; background:url(images/nav.png) repeat-x; border-left:1px solid #383d3f;}
.nav ul li a {width:142px; float:left; height:30px; font-size:14px; color:#FFF; text-decoration:none; padding:11px 0 0 55px; line-height:15px; position:relative;}
.nav ul li a.st2 {padding:5px 0 0 55px; height:36px;}
.nav ul li a:hover {background:url(images/nav_hover.png) repeat-x;}
.nav ul li:first-child {border:0;}

.item1 {position:absolute; left:23px; top:14px;}
.item2 {position:absolute; left:21px; top:10px;}
.item3 {position:absolute; left:24px; top:11px;}
.item4 {position:absolute; left:24px; top:12px;}
.item5 {position:absolute; left:24px; top:9px;}
.item6 {position:absolute; left:23px; top:11px;}
.item7 {position:absolute; left:21px; top:11px;}
.item8 {position:absolute; left:24px; top:8px;}
.item9 {position:absolute; left:25px; top:10px;}

.foother {width:100%; height:46px; float:left;}
.foot {width:990px; position:relative; margin:0 auto; display:block; height:46px; background:url(images/foother.png) no-repeat;}
.copyr {position:absolute; left:20px; top:0; font-size:13px; color:#FFFFFF; line-height:46px;}

.fmenu {position:absolute; right:10px; top:0;}
.fmenu ul {list-style:none;}
.fmenu ul li {float:left; font-size:11px; line-height:46px; background:url(images/fmenu.gif) no-repeat left 15px; padding:0 7px;}
.fmenu ul li a {color:#FFFFFF; text-decoration:none; text-transform:uppercase;}
.fmenu ul li:first-child {background:none;}

.lineForm {width:100%; float:left;}
.lineForm h2 {height:43px; display:block; background:url(images/h2.png) repeat-x; text-align:center; font-size:14px; color:#064a87; padding:15px 0 0 0; line-height:17px;}

.lineForm form {width:100%; float:left; padding-top:14px;}
.kalk label {font-size:15px; color:#FFFFFF; font-family:Calibri; width:21px; float:left; padding:0 0 0 42px;}
.feedback_form label {font-size:15px; width:50px;}
.lineForm .w1 {float:left; width:100%; padding-bottom:5px;}
.lineForm .kn {padding:2px 0 0 74px; float:left;}
.lineForm .kn input {font-size:12px; color:#FFF; font-family:Calibri; width:78px; height:25px; background:url(images/kn.png) repeat-x; border:0; cursor:pointer;}
.lineForm .chena {width:100%; float:left; margin-top:10px;}
.lineForm .chena span {display:block; width:101px; height:21px; background:url(images/chena.png) no-repeat; text-align:center; font-size:16px; line-height:21px; margin:0 0 0 63px;}
.lineForm .inp {font-size:13px; width:45px; padding:2px 5px 2px 9px; font-family:Calibri; border:0; background:url(images/inp.png) no-repeat;}
.kalk select, input {width:101px;}


.moscow {background:url(images/moskov.jpg) no-repeat center top;}
.information {float:left;}/* margin: 20px 20px 0 20px;} /*background:url(images/fn.png) repeat-x top; width:100%; }*/
.information .foto {float:left; padding:92px 0 0 32px;}
.information .left {float:right;} /*width:370px; */
.information .left h2 {width:100%; height:40px; float:left; background:url(images/h2.png) repeat-x; font-family:Calibri; font-size:21px; text-align:center; color:#064a87; padding:18px 0 0 0;}

.rates {width:100%; float:left;}
.rates ul {list-style:none; float:left; width:100%; padding:3px 0 4px 0;}
.rates ul li {float:left; text-align:center;}
.rates ul li p.zag {font-size:13px; color:#FFF; padding:4px 0 8px 0;}
.rates ul li p {padding-bottom:3px;}
.rates ul li.tabl1 {width:91px; padding:0 11px 10px 11px;}
.rates ul li.tabl2 {width:107px; padding:0 15px 10px 10px; border-left:1px solid #696867;}
.rates ul li.tabl3 {width:100px; padding:0 0px 10px 11px; border-left:1px solid #696867;}
.rates ul li span {font-size:11px; display:block; line-height:20px; height:20px; color:#000;}
p.sity1 span {width:91px; background:url(images/sity1.png) no-repeat;}
p.sity2 span {width:107px; background:url(images/sity2.png) no-repeat;}
p.sum span {width:100px; background:url(images/sum.png) no-repeat;}

.regulations {float:left; width:100%;}
.regulations .tet {width:100%; float:left;}
.regulations p {padding:10px 12px 0 12px; font-size:17px; color:#FFFFFF; text-indent:40px;}

.w100 {float:left; width:100%;}
.ordering { padding:20px 0 0 20px;}
.ordering h2 { height:42px; display:block; background:url(images/h2_1.png) repeat-x; font-family:Calibri; font-size:21px; color:#FFFFFF; padding:17px 0 0 28px;}
.ordering form {float:right; width:100%; padding:5px 0 0 0;}
.ordering .w1 {width:100%; float:left; margin:12px 0 0 0;}
.ordering .w1 label {width:168px; height:29px; float:left; font-size:13px; color:#FFF; border:1px solid #a0a0a1; background:#535c60; text-align:right; padding:0 13px 0 0; line-height:29px;}
.inp1 {width:730px; border:1px solid #b2b1b1; float:left; padding:6px 5px 7px 5px; font-size:14px; color:#000; margin:0 0 0 5px;}
.usl {float:left; width:500px; padding:28px 0 0 188px;}
.usl span.titl{font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#FFF; padding:0 0 0 15px; display:inline; vertical-align:middle;}
.but {width:500px; float:left; padding:12px 0 0 188px;}
.but input {width:167px; height:35px; background:url(images/but.png) repeat-x; cursor:pointer; border:0; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#FFFFFF;}

.ordering .w1 ul li label {margin: 0 0 0 5px;}
.niceCheck {
width: 19px;
height: 18px;
display: inline-block;
cursor: pointer;
background: url(images/che.png);
vertical-align:middle;
}
.niceCheck input {
display: none;
}
.image_law {

    height: 266px;

    width: 400px;

    background:url(images/law.png);

    margin: 32px 0 12px 32px;

}

input.order_form
{
    width: 90%;
    margin: 2px;
    padding: 2px;
    height: 20px;
}

input.order_form_check
{
    margin: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px;
    height: 20px;
    width: 20px;
}


.clear
{clear: both;}
